body {
    font-family: roboto, sans-serif;
    margin: 0;
    padding: 0;
    
}

/* container of page's header & hero section */
.container {
    padding-bottom: 60px;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
}

/* Page's header section styles and alignments */

.header-section {
    padding-top: 12px;
    min-width: 80%;
    display: flex;
    justify-content: space-between;    
}

.header_logo a {
    font-size: 18px;
    color: #f9faf8;
    font-weight: bold;
}

ul {
    list-style: none;
    margin: 0;
    display: flex;
    gap: 12px;
}

a,
.hero-text-area .hero-subtext {
    color: #e5e7eb;
}

a {
    text-decoration: none;
    
}


/* Styling and align the Hero-Section */

.hero-section {
    width: 80%;
    margin: 60px 0;
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
}

.hero-text-area .hero-main {
    padding: 0;
    margin: 0;
    font-size: 48px;
    color: #f9faf8;
    font-weight: bolder;
}

.hero-text-area .hero-subtext {
    width: 80%;
    margin: 0;
    padding: 0;
}

.hero-text-area .sign-up {
    color: #e5e7eb;
    background-color: #3882f6;
    padding: 8px 20px;
    margin-top: 25px;
    border: none;
    font-weight: bold;
    border-radius: 4px;
    
}

.hero-image-area {
    width: 250px;
    height: 100px;
    background: #f9faf8;
}




